@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width:1000px) {

    body{
        background-image: linear-gradient(to bottom, blue, red);
    }

    section#login {
        
        width: 80vw;
    }
    section#login > div#imagem{
        background-size: cover;
        display: block;
        float: left;
        width: 30%;
        height: 120%;
    }
    section#login > div#formulario{
        float: right;
        width: 70%;
    }

    div#formulario > h1 {

        font-size: 2em;
    }

    div#formulario > p {
        font-size: 1.5em;
    }


}

@media screen and (min-width:1000px) {
    body{
        background-image: linear-gradient(to bottom, blue, red);
    }


    section#login {
        width: 1042px;
    }
    section#login > div#imagem{
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario{
        float: left;
        width: 40%;
        
    }

    div#formulario > h1 {

        font-size: 2em;
    }

    div#formulario > p {
        font-size: 1.5em;
    }

}